<!DOCTYPE html>

<html>

<body style="background-color:Ivory;">

<h1 style="font-size:100px; color:IndianRed;">-  MindCare  -</h1>

<p1 style="font-size:60px; color:ivory; background-color:Maroon;">__Contents:_____________________            </p1>

<br>
<br>

<form action="http://127.0.0.1:5000/TRACKER">
	<input type="submit" value="--Tracker--" style="font-size:35px;">
</form>

<form action="http://127.0.0.1:5000/QUIZ">
        <input type="submit" value="--Quiz--" style="font-size:35px;">
</form>

<form action="http://127.0.0.1:5000/FALL">
        <input type="submit" value="--Fall Detection--" style="font-size:35px;">
</form>


</body>
</html>
