<!--Homepage HTML with hyperlinks-->

<!DOCTYPE html>

<html>

<body style="background-color:Ivory;">

<h1 style="font-size:100px; color:IndianRed;">-  HealthTrack  -</h1>
<p1> helping seniors with Dementia, helping caretakers, helping humans. <3
<br>
<br>
<p1 style="font-size:40px; color:ivory; background-color:Maroon;">__Contents:_____________________            </p1>

<br>
<br>

<nav>
	<a href="/tracker">Symptom Tracker</a>|
	<a href="/quiz">Health Check-In Quiz</a>|
	<a href="/fall">Fall Detection Camera</a>
</nav>

</body>
</html>
